## data cleaining

>the main Pandas methods for cleaning are:
- dropna(), fillna() → missing values
- duplicated(), drop_duplicates() → duplicates
- rename(), astype() → column names & data types
- replace(), drop() → unwanted values/columns
- sort_values(), filtering → organize data
- str.strip(), str.lower() → text cleaning
- reset_index() → clean indexing

### what our data need

1. fill the missing values with its median 

    - (because, if the data is not skewed, it’s called a normal distribution, where mean ≈ median, so the mean is best, and if the data is skewed (right or left), the median is usually safer because it resists outliers.)

2. remove duplicates

In [77]:
import numpy as np
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt


# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#data cleanup
df['job_posted_date']=pd.to_datetime(df['job_posted_date'])

In [72]:
df.head(6)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
5,Data Engineer,GCP Data Engineer,Anywhere,via ZipRecruiter,Contractor and Temp work,True,Georgia,2023-11-07 14:01:59,False,False,United States,None,NaN,NaN,smart folks inc,"['python', 'sql', 'gcp']","{'cloud': ['gcp'], 'programming': ['python', '..."

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [78]:
df['salary_year_avg'].median()

115000.0

In [79]:
df['salary_hour_avg'].median()

45.97999954223633

In [85]:
median_salary_year_avg= df.salary_year_avg.fillna(df.salary_year_avg.median())
median_salary_year_avg

0         115000.0
1         115000.0
2         115000.0
3         115000.0
4         115000.0
            ...
785736    115000.0
785737    115000.0
785738    115000.0
785739    115000.0
785740    115000.0
Name: salary_year_avg, Length: 785741, dtype: float64

In [86]:
median_salary_hour_avg= df.salary_hour_avg.fillna(df.salary_hour_avg.median())
median_salary_hour_avg

0         45.98
1         45.98
2         45.98
3         45.98
4         45.98
          ...
785736    45.98
785737    45.98
785738    45.98
785739    45.98
785740    45.98
Name: salary_hour_avg, Length: 785741, dtype: float64

In [94]:
df_filled= df

df_filled['salary_year_avg']= df_filled['salary_year_avg'].fillna(median_salary_year_avg)
df_filled['salary_hour_avg']= df_filled['salary_hour_avg'].fillna(median_salary_hour_avg)
df_filled.loc[0:, 'salary_year_avg':'salary_hour_avg']

        salary_year_avg  salary_hour_avg
0              115000.0            45.98
1              115000.0            45.98
2              115000.0            45.98
3              115000.0            45.98
4              115000.0            45.98
...                 ...              ...
785736         115000.0            45.98
785737         115000.0            45.98
785738         115000.0            45.98
785739         115000.0            45.98
785740         115000.0            45.98

[785741 rows x 2 columns]

In [99]:
df_unique= df_filled

df_unique= df_unique.drop_duplicates()

print('length of original rows:                   ',len(df_filled))
print('length of rows after removing duplicates:  ',len(df_unique))
print('number of duplicates removed:              ',len(df_filled)-len(df_unique))

length of original rows:                    785741
length of rows after removing duplicates:   785640
number of duplicates removed:               101

In [98]:
df_unique= df_filled

df_unique= df_unique.drop_duplicates(subset= ['job_title', 'company_name'])

print('length of original rows:                   ',len(df_filled))
print('length of rows after removing duplicates:  ',len(df_unique))
print('number of duplicates removed:              ',len(df_filled)-len(df_unique))

length of original rows:                    785741
length of rows after removing duplicates:   508042
number of duplicates removed:               277699